@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Los peor es nada</h1>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Img/Camaro.jpg" width="20" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Img/lambo.jpg" width="20" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Img/Mecanico.jpg" class="d-block w-100" alt="...">
            </div>
        
    </div>
</div>
